<div id="app">
	<v-app :style="background"
	       dark
	>
		<v-app-bar
      			fixed
		        color="red darken-3"
			dark
			shrink-on-scroll	
		>
			<v-app-bar-title>{{ title }}</v-app-bar-title>
			<v-spacer></v-spacer>	
			<v-btn icon>
				<v-icon 
					size="30" 
					title="salir"
					@click="logOut"
				>
					mdi-exit-run
				</v-icon>
			</v-btn>
		</v-app-bar>
		<v-form
			v-model="valid"
			ref="form"
			:style="form"
			dark
			autocomplete="off"
			method="POST"
			lazy-validation
  		>
    			<v-text-field
				v-model="firstQuestion"
				:rules="questionRules"
				:counter="60"
				label="Pregunta N°1*"
				placeholder="¿Cómo se llama el satélite natural de la Tierra?"	
				required
				autofocus
				name="question-one"
			></v-text-field>
				 <v-container>
      					<v-row>
       						<v-col
          						cols="12"
          						md="4"
        					>
          						<v-text-field
								:counter="30"
								:rules="answerRules"
								label="Respuesta A*"
								placeholder="Mercurio"
								required
								name="answer-one-a"
          						></v-text-field>
        					</v-col>
        					<v-col
          						cols="12"
          						md="4"
        					>
          						<v-text-field
							        :counter="30"
								:rules="answerRules"
								label="Respuesta B*"
								placeholder="Luna"
								required
								name="answer-one-b"
						        ></v-text-field>
        					</v-col>
						        <v-col
          						cols="12"
          						md="4"
					        >
							<v-text-field
								:counter="30"
								:rules="allRules"
								label="Respuesta C"
								placeholder="Marte"
								required
								name="answer-one-c"
          						></v-text-field>
        					</v-col>
      					</v-row>
			</v-container>
			<v-progress-linear
				color="pink darken-4"
				rounded
				:style="linear"
			        value="100"	
   			></v-progress-linear>
			<v-text-field
	      			:counter="60"
				:rules="limitRules"
				label="Pregunta N°2"
				placeholder="¿Cuál es el idioma de tú país natal?"	
				required
				name="question-two"
			></v-text-field>
			 <v-container>
				<v-row>
       					<v-col
        					cols="12"
        					md="4"
        				>
          					<v-text-field
            						:counter="30"
							:rules="allRules"
            						label="Respuesta A"
							required
							placeholder="Español"
							name="answer-two-a"
          						></v-text-field>
        					</v-col>
        					<v-col
          						cols="12"
          						md="4"
        					>
          					<v-text-field
						        :counter="30"
							:rules="allRules"
						        label="Respuesta B"
							required
							placeholder="English"
							name="answer-two-b"
					        ></v-text-field>
        				</v-col>
				        <v-col
          					cols="12"
          					md="4"
				        >
						<v-text-field
							:counter="30"
							:rules="allRules"
                   					label="Respuesta C"
							required
							placeholder="中文"
							name="answer-two-c"
          					></v-text-field>
        				</v-col>
      				</v-row>
			</v-container>	
			<v-progress-linear
				color="red darken-2"
				rounded
				:style="linear"
			        value="100"	
   			></v-progress-linear>
			<v-text-field
	      			:counter="60"
				:rules="limitRules"
				label="Pregunta N°3"	
				required
				name="question-three"
			></v-text-field>
			 <v-container>
      				<v-row>
       					<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
            						:counter="30"
							:rules="allRules"
            						label="Respuesta A"
							required
							name="answer-three-a"
          					></v-text-field>
        				</v-col>
        				<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
						        :counter="30"
							:rules="allRules"
						        label="Respuesta B"
							required
							name="answer-three-b"
					        ></v-text-field>
        				</v-col>
				        <v-col
          					cols="12"
          					md="4"
				        >
						<v-text-field
							:counter="30"
							:rules="allRules"
                   					label="Respuesta C"
							required
							name="answer-three-c"
          					></v-text-field>
        				</v-col>
      				</v-row>
			</v-container>
			<v-progress-linear
				color="light-green darken-3"
				rounded
				:style="linear"
			        value="100"	
   			></v-progress-linear>
			<v-text-field
	      			:counter="60"
				:rules="limitRules"
				label="Pregunta N°4"	
				required
				name="question-four"
			></v-text-field>
			 <v-container>
      				<v-row>
       					<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
            						:counter="30"
							:rules="allRules"
            						label="Respuesta A"
							required
							name="answer-four-a"
          					></v-text-field>
        				</v-col>
        				<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
						        :counter="30"
							:rules="allRules"
						        label="Respuesta B"
							required
							name="answer-four-b"
					        ></v-text-field>
        				</v-col>
				        <v-col
          					cols="12"
          					md="4"
				        >
						<v-text-field
							:counter="30"
							:rules="allRules"
                   					label="Respuesta C"
							required
							name="answer-four-c"
          					></v-text-field>
        				</v-col>
      				</v-row>
			</v-container>
			<v-progress-linear
				color="amber"
				rounded
				:style="linear"
			        value="100"	
   			></v-progress-linear>
			<v-text-field
	      			:counter="60"
				:rules="limitRules"
				label="Pregunta N°5"	
				required
				name="question-five"
			></v-text-field>
			 <v-container>
      				<v-row>
       					<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
            						:counter="30"
							:rules="allRules"
            						label="Respuesta A"
							required
							name="answer-five-a"
          					></v-text-field>
        				</v-col>
        				<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
						        :counter="30"
							:rules="allRules"
						        label="Respuesta B"
							required
							name="answer-five-b"
					        ></v-text-field>
        				</v-col>
				        <v-col
          					cols="12"
          					md="4"
				        >
						<v-text-field
							:counter="30"
							:rules="allRules"
                   					label="Respuesta C"
							required
							name="answer-five-c"
          					></v-text-field>
        				</v-col>
      				</v-row>
			</v-container>
				<v-progress-linear
				color="pink lighten-2"
				rounded
				:style="linear"
			        value="100"	
   			></v-progress-linear>
			<v-text-field
	      			:counter="60"
				:rules="limitRules"
				label="Pregunta N°6"	
				required
				name="question-six"
			></v-text-field>
			 <v-container>
      				<v-row>
       					<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
            						:counter="30"
							:rules="allRules"
            						label="Respuesta A"
							required
							name="answer-six-a"
          					></v-text-field>
        				</v-col>
        				<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
						        :counter="30"
							:rules="allRules"
						        label="Respuesta B"
							required
							name="answer-six-b"
					        ></v-text-field>
        				</v-col>
				        <v-col
          					cols="12"
          					md="4"
				        >
						<v-text-field
							:counter="30"
							:rules="allRules"
                   					label="Respuesta C"
							required
							name="answer-six-c"
          					></v-text-field>
        				</v-col>
      				</v-row>
			</v-container>	
				<v-progress-linear
				color="cyan lighten-3"
				rounded
				:style="linear"
			        value="100"	
   			></v-progress-linear>
			<v-text-field
	      			:counter="60"
				:rules="limitRules"
				label="Pregunta N°7"	
				required
				name="question-seven"
			></v-text-field>
			 <v-container>
      				<v-row>
       					<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
            						:counter="30"
							:rules="allRules"
            						label="Respuesta A"
							required
							name="answer-seven-a"
          					></v-text-field>
        				</v-col>
        				<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
						        :counter="30"
						        label="Respuesta B"
							required
							name="answer-seven-b"
					        ></v-text-field>
        				</v-col>
				        <v-col
          					cols="12"
          					md="4"
				        >
						<v-text-field
							:counter="30"
							:rules="allRules"
                   					label="Respuesta C"
							required
							name="answer-seven-c"
          					></v-text-field>
        				</v-col>
      				</v-row>
			</v-container>
				<v-progress-linear
				color="deep-orange"
				rounded
				:style="linear"
			        value="100"	
   			></v-progress-linear>
			<v-text-field
	      			:counter="60"
				:rules="limitRules"
				label="Pregunta N°8"	
				required
				name="question-eight"
			></v-text-field>
			 <v-container>
      				<v-row>
       					<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
            						:counter="30"
							:rules="allRules"
            						label="Respuesta A"
							required
							name="answer-eight-a"
          					></v-text-field>
        				</v-col>
        				<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
						        :counter="30"
							:rules="allRules"
						        label="Respuesta B"
							required
							name="answer-eight-b"
					        ></v-text-field>
        				</v-col>
				        <v-col
          					cols="12"
          					md="4"
				        >
						<v-text-field
							:counter="30"
							:rules="allRules"
                   					label="Respuesta C"
							required
							name="answer-eight-c"
          					></v-text-field>
        				</v-col>
      				</v-row>
			</v-container>
				<v-progress-linear
				color="brown darken-4"
				rounded
				:style="linear"
			        value="100"	
   			></v-progress-linear>
			<v-text-field
	      			:counter="60"
				:rules="limitRules"
				label="Pregunta N°9"	
				required
				name="question-nine"
			></v-text-field>
			 <v-container>
      				<v-row>
       					<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
            						:counter="30"
							:rules="allRules"
            						label="Respuesta A"
							required
							name="answer-nine-a"
          					></v-text-field>
        				</v-col>
        				<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
						        :counter="30"
							:rules="allRules"
						        label="Respuesta B"
							required
							name="answer-nine-b"
					        ></v-text-field>
        				</v-col>
				        <v-col
          					cols="12"
          					md="4"
				        >
						<v-text-field
							:counter="30"
							:rules="allRules"
                   					label="Respuesta C"
							required
							name="answer-nine-c"
          					></v-text-field>
        				</v-col>
      				</v-row>
			</v-container>
				<v-progress-linear
				color="teal darken-4"
				rounded
				:style="linear"
				value="100"	
   			></v-progress-linear>
			<v-text-field
	      			:counter="60"
				:rules="limitRules"
				label="Pregunta N°10"	
				required
				name="question-ten"
			></v-text-field>
			 <v-container>
      				<v-row>
       					<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
            						:counter="30"
							:rules="allRules"
            						label="Respuesta A"
							required
							name="answer-ten-a"
          					></v-text-field>
        				</v-col>
        				<v-col
          					cols="12"
          					md="4"
        				>
          					<v-text-field
						        :counter="30"
							:rules="allRules"
						        label="Respuesta B"
							required
							name="answer-ten-b"
					        ></v-text-field>
        				</v-col>
				        <v-col
          					cols="12"
          					md="4"
				        >
						<v-text-field
							:counter="30"
							:rules="allRules"
                   					label="Respuesta C"
							required
							name="answer-ten-c"
          					></v-text-field>
        				</v-col>
      				</v-row>
			</v-container>
			<v-progress-linear
				color="success"
				rounded
				:style="linear"
			        value="100"	
			></v-progress-linear>
			<v-btn
		  	      color="warning"
			      class="mr-4"
			      @click="reset"
    			>
      				resetear
			</v-btn>
			<v-btn
				:disabled="!valid"
				color="success"
				class="mr-4"
				@click="validate"
				name="submit"
				type="submit"
			>
      				continuar
    			</v-btn>	
		</v-form>
	</v-app>	
</div>
<script src="../assets/js/form.control.js"></script>
